<mat-card-content>
    <form class="my-form">
        <mat-form-field class="full-width">
            <mat-label>Login</mat-label>
            <input matInput placeholder="Podaj login" name="login" required>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Hasło</mat-label>
            <input matInput placeholder="Podaj hasło" name="passoword" required>
        </mat-form-field>
    </form>
</mat-card-content>
<mat-card-actions>
    <button mat-raiserd-button (click)="login()" color="primary">Login</button>
</mat-card-actions>