table {
    width: auto;
  }
  
  th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding: 5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-align: center;
  }
  
  .mat-sort-header-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    padding: 0;
  }
  
  .mat-sort-header-arrow {
    height: 0.75em;
    margin-left: 4px;
    margin-top: -0.25em;
    width: 0.75em;
  }