<body class="bg-purple">
    
<div class="custom-navbar">
    <div class="brand-logo">
        <span><a href="/home">Zarządzanie projektem</a></span>
    </div>
    <!--<div class="navbar-links">
        <ul>
          <li><a href="/login" class="btn-request">Zaloguj</a></li>
        </ul>
    </div>-->
    
        <div class="navbar-links">
            <ul>
        <li><a href="/assign" *ngIf="userRole == 'ADMIN'" class="btn-request">Przypisz studentów</a></li>
        <li><a href="/chat" *ngIf="isLogin" class="btn-request">Chat</a></li>
        <li><a href="/login" *ngIf="isLogin" class="btn-request">Wyloguj</a></li>
      </ul>
    </div>
</div>

    <div class="stars">
        <div class="central-body">
            <mat-card>
                <router-outlet></router-outlet>
            </mat-card>
            
        </div>
        <div class="objects">
            <div class="earth-moon">
                <img class="object_earth" src="http://salehriaz.com/404Page/img/earth.svg" width="100px">
                <img class="object_moon" src="http://salehriaz.com/404Page/img/moon.svg" width="80px">
            </div>
        </div>
        <div class="glowing_stars">
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>

        </div>

    </div>

</body>